.social {
	margin:10px;
	color: #1565C0;
}

.social-footer {
	color: white;
	margin-left: 35px;
	margin-right: 35px;
}
.social:hover {
	color: gold;
	-webkit-transition: color .3s;
  	transition: color .3s;
}

.social-footer:hover {
	color: gold;
	-webkit-transition: color .3s;
  	transition: color .3s;
}
.tab-content {
	font-family: 'Open Sans', sans serif;
	font-size: 20px;
}

.kickoff {
	text-align: center;
}

.resources h1 {
	color: black;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Comfortaa', cursive;
}

p, ul, li, {
	font-family: 'Audiowide', cursive;
}

.spara{
	height: 200px;
}

#donate:hover {
	background-color: gold;
}

#donate-footer {
	color: white;
	font-family: 'Comfortaa', cursive;
	margin-left: 35px;
	margin-right: 35px;
}

#donate-footer:hover {
	color: gold;
	-webkit-transition: color .3s;
	transition: color .3s;
}

@media only screen and (max-width: 600px) {
	.social-footer {
		margin-right: 10px;
		margin-left: 10px;
	}
	#donate-footer {
		margin-right: 10px;
		margin-left: 10px;
	}
}