.social {
	margin:10px;
	color: #1565C0;
}

.social-footer {
	color: white;
	margin-left: 35px;
	margin-right: 35px;
}
.social:hover {
	color: gold;
	-webkit-transition: color .3s;
  	transition: color .3s;
}

.social-footer:hover {
	color: gold;
	-webkit-transition: color .3s;
  	transition: color .3s;
}

.foottext {
  font-family: 'Open Sans' , sans serif;
  font-size: 1rem;
}

figure {
	display: inline-block;
	border: 1px dotted gray;
	margin: 20px; /* adjust as needed */
}

.leader-social {
  color: black;
  margin-left: 5px;
}
.tab-content {
	font-family: 'Open Sans', sans serif;
	font-size: 20px;
}

.kickoff {
	text-align: center;
  padding: 0px;
}

.resources h1 {
	color: black;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Comfortaa', cursive;
}

ul, li, {
	font-family: 'Audiowide', cursive;
}

.spara{
	height: 200px;
}

#donate:hover {
	background-color: gold;
}

#donate-footer {
	color: white;
	font-family: 'Comfortaa', cursive;
	margin-left: 35px;
	margin-right: 35px;
}

#donate-footer:hover {
	color: gold;
	-webkit-transition: color .3s;
	transition: color .3s;
}

@media only screen and (max-width: 600px) {
	.social-footer {
		margin-right: 10px;
		margin-left: 10px;
	}
	#donate-footer {
		margin-right: 10px;
		margin-left: 10px;
	}
}

#welcomebanner {
	padding: 0px;
}

#welcome {
	margin: 10px;
}

.close-text {
	font-family: 'Open Sans', sans serif;
  font-size: 1.2rem;
	line-height: auto;
}

/*@media only screen and (min-width: 360px) {
  .close-text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 390px) {
  .close-text {
    font-size: 1.224rem;
  }
}

@media only screen and (min-width: 420px) {
  .close-text {
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 450px) {
  .close-text {
    font-size: 1.272rem;
  }
}

@media only screen and (min-width: 480px) {
  .close-text {
    font-size: 1.296rem;
  }
}

@media only screen and (min-width: 510px) {
  .close-text {
    font-size: 1.32rem;
  }
}

@media only screen and (min-width: 540px) {
  .close-text {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 570px) {
  .close-text {
    font-size: 1.368rem;
  }
}

@media only screen and (min-width: 600px) {
  .close-text {
    font-size: 1.392rem;
  }
}

@media only screen and (min-width: 630px) {
  .close-text {
    font-size: 1.416rem;
  }
}

@media only screen and (min-width: 660px) {
  .close-text {
    font-size: 1.44rem;
  }
}

@media only screen and (min-width: 690px) {
  .close-text {
    font-size: 1.464rem;
  }
}

@media only screen and (min-width: 720px) {
  .close-text {
    font-size: 1.488rem;
  }
}

@media only screen and (min-width: 750px) {
  .close-text {
    font-size: 1.512rem;
  }
}

@media only screen and (min-width: 780px) {
  .close-text {
    font-size: 1.536rem;
  }
}

@media only screen and (min-width: 810px) {
  .close-text {
    font-size: 1.56rem;
  }
}

@media only screen and (min-width: 840px) {
  .close-text {
    font-size: 1.584rem;
  }
}

@media only screen and (min-width: 870px) {
  .close-text {
    font-size: 1.608rem;
  }
}

@media only screen and (min-width: 900px) {
  .close-text {
    font-size: 1.632rem;
  }
}

@media only screen and (min-width: 930px) {
  .close-text {
    font-size: 1.656rem;
  }
}

@media only screen and (min-width: 960px) {
  .close-text {
    font-size: 1.68rem;
  }
}

@media only screen and (max-width: 360px) {
  .close-text {
    font-size: 1.2rem;
  }
}*/
