.navbar-fixed .nav-wrapper .brand-logo img {
	height: 64px;
}

.social {
	height: 20px;
	width: auto;
}

.tab-content {
	font-family: 'Open Sans', sans serif;
	font-size: 20px;
}

.kickoff {
	text-align: center;
}

.resources h1 {
	color: black;
	text-align: center;
}

h1, h2, h3, h4, h5 {
	font-family: 'Comfortaa', cursive;
}

p, ul, li, {
	font-family: 'Audiowide', cursive;
}